@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--accent-orange: #f97316;
--accent-darkblue: #0f172a;
}


html.light {
--bg: #ffffff;
--text: #0f172a;
background: var(--bg);
color: var(--text);
}


html { background: #071129; color: #e6eef8; }


body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }


/* componentes comuns */